#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

export DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
export DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

ifeq ($(DEB_BUILD_GNU_TYPE), $(DEB_HOST_GNU_TYPE))
  confflags += --build $(DEB_HOST_GNU_TYPE)
else
  confflags += --build $(DEB_BUILD_GNU_TYPE) --host $(DEB_HOST_GNU_TYPE)
endif

export PROC := $(shell dpkg-architecture -qDEB_BUILD_GNU_CPU)

ifneq (,$(filter noopt,$(DEB_BUILD_OPTIONS)))
        BUILDFLAGS += OPTIMIZE=-O0
else
        BUILDFLAGS += OPTIMIZE=-O2
endif
#BUILDFLAGS += MAKECMDGOALS=dont-optimize

# Disable CGO/netgo stuff. This is already set in the Makefile.
#export CGO_ENABLED=0


%:
	dh $@ --with systemd

override_dh_auto_build:
	dh_auto_build -- format build  # but not 'test'

override_dh_auto_install:
	# There is no 'install' target in the Makefile
	mkdir -p $(CURDIR)/debian/prometheus-mysqld-exporter/usr/sbin
	cp -a mysqld_exporter \
	  $(CURDIR)/debian/prometheus-mysqld-exporter/usr/sbin/prometheus-mysqld-exporter

override_dh_builddeb:
	# Compress .deb destination files with gzip instead of xz for
	# compatibility with older Debian releases. See also
	# debian/source/options for the source package.
	dh_builddeb -- -Zgzip


#override_dh_systemd_enable:
#	dh_systemd_enable --no-enable

override_dh_systemd_start:
	# Will do a try-restart in postinst.
	dh_systemd_start --restart-after-upgrade
