[Unit]
Description=Prometheus Node Exporter
After=network.target
Wants=network.target

[Service]
Type=simple
MemoryLimit=2G
ExecStart=/usr/sbin/prometheus-node-exporter

[Install]
WantedBy=multi-user.target
