[Unit]
Description=Prometheus Nginx VTS-module Exporter
After=network.target
Wants=network.target

[Service]
Type=simple
MemoryLimit=2G
ExecStart=/usr/sbin/prometheus-nginxvts-exporter

[Install]
WantedBy=multi-user.target
